
script(src='/javascripts/bootstraped.min.js')
script(src='/javascripts/jquery.tagsinput.min.js')
script(src='/javascripts/loader.js')
script(src='/javascripts/app.js')

block foot
block scripts
  // scripts here